
EASIUR-POP2005-INC2005-USD2010-V20160122-County-XLSX/Intake-Fraction.xlsx
EASIUR-POP2005-INC2005-USD2010-V20160122-County-XLSX/Marginal-Social-Cost_population_adjust.xlsx
EASIUR-POP2005-INC2005-USD2010-V20160122-County-XLSX/EASIUR MDs.xlsx
EASIUR-POP2005-INC2005-USD2010-V20160122-County-XLSX/Intake-Fraction_population_adjust.xlsx
